@keyframes main-screen-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#main-screen {
  display: grid;
  grid-template-columns: 1fr 14fr 1fr;
  grid-template-rows: 1fr 29fr;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  position: absolute;
  animation: main-screen-opacity 3s ease-in-out;
  animation-delay: 4.5s;
}

.main-screen__title {
  cursor: default;
  grid-column: 1 span;
  grid-row: 1 span;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-gray);
  font-weight: bold;
}

#logout-btn {
  grid-column: 1 span;
  grid-row: 1 span;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-gray);
  cursor: pointer;
  font-weight: bold;
}

#logout-btn:hover {
  color: white;
}

#logout-btn:active {
  transform: translateY(2px);
}

#main-screen__server {
  grid-column: 1 span;
  grid-row: 1 span;
  background-color: var(--black);
  display: grid;
  grid-template-rows: repeat(auto-fill, 60px);
  row-gap: 5px;
  justify-items: center;
  align-items: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--dark-gray);
}

a:first-child {
  color: var(--light-gray);
  background-color: var(--black);
  padding-bottom: 5px;
  border-bottom: solid 2px var(--light-gray);
}

a i {
  border-radius: 50%;
  background-color: var(--dark-gray);
  padding: 15px;
  transition: 0.5s ease-in-out;
}

a i:hover {
  border-radius: 35%;
  background-color: var(--discord-color);
  color: white;
}

a i:active {
  transform: translateY(2px);
}
