#server-screen {
  grid-column: 5 span;
  grid-row: 1 span;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr 4fr 2fr;
  grid-template-rows: 1fr 20fr 1fr;
  border-top-left-radius: 10px;
}

#server__name,
#channel-page,
#clock {
  border-bottom: solid 2px var(--black);
}

#server__name {
  background-color: var(--dark-gray);
  color: white;
  border-top-left-radius: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

#channel-page {
  grid-column: 2 span;
  background-color: var(--gray);
}

#clock {
  background-color: var(--gray);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#channel-list {
  background-color: var(--dark-gray);
}

#channel-screen {
  grid-column: 2 span;
  grid-row: 2 span;
  background-color: var(--gray);
  display: grid;
  grid-template-rows: 3fr 17fr 1fr;
  position: relative;
  height: 100%;
}

#channel-screen__date {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

#weather__icon {
  width: 30px;
  height: 30px;
}

#city {
  font-size: 10px;
}

#user-list {
  grid-row: 2 span;
  background-color: var(--light-black);
}

#user {
  background-color: var(--light-black);
}
