#nonsense-bar {
  grid-column: 1 span;
  grid-row: 1 span;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

@keyframes text-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90%,
  100% {
    opacity: 0;
  }
}

#nonsense-bar__text {
  animation: text-opacity 8s ease-in-out infinite;
  white-space: nowrap;
}
